	<!DOCTYPE html>
<html lang="zxx" class="no-js" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Mobile Specific Meta -->
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Favicon-->
<link rel="shortcut icon" href="img/fav.png">
<!-- Author Meta -->
<meta name="author" content="codepixer">
<!-- Meta Description -->
<meta name="description" content="">
<!-- Meta Keyword -->
<meta name="keywords" content="">
<!-- meta character set -->
<meta charset="UTF-8">
<!-- Site Title -->
<title>Art Museum</title>

<link
	href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700"
	rel="stylesheet">
<!--
            CSS
            ============================================= -->
<link rel="stylesheet" href="../static/css/linearicons.css" th:href="@{/css/linearicons.css}">
<link rel="stylesheet" href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}">
<link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" href="../static/css/magnific-popup.css" th:href="@{/css/magnific-popup.css}">
<link rel="stylesheet" href="../static/css/nice-select.css" th:href="@{/css/nice-select.css}">
<link rel="stylesheet" href="../static/css/animate.min.css" th:href="@{/css/animate.min.css}">
<link rel="stylesheet" href="../static/css/owl.carousel.css" th:href="@{/css/owl.carousel.css}">
<link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}">
</head>
<body>
	<!-- header -->
	<header id="header">
		<br>
		<div class="container">
			<div class="row align-items-center justify-content-between d-flex">
				<div id="logo">
					<a href="/"><img src="/img/logo.png" alt="" title="" /></a>
				</div>
				<nav id="nav-menu-container">
					<ul class="nav-menu">
						<li class="menu-active"><a href="/">Home</a></li>
						<li><a href="/paintings">Paintings</a></li>
						<li><a href="/clients">Clients</a></li>
						<li><a href="/artists">Artists</a></li>
					</ul>
				</nav>
				<!-- #nav-menu-container -->
			</div>
		</div>

	</header>
	<!-- #header -->

	<!-- start banner Area -->
	<section class="banner-area relative" id="home">
		<div class="overlay overlay-bg"></div>
		<div class="container">
			<div class="row d-flex align-items-center justify-content-center">
				<div class="about-content col-lg-12">
					<h1 class="text-white">All About Art</h1>
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->

			<!-- Start contact-page Area -->
			<section class="contact-page-area section-gap">
				<div class="container">
					<div class="row">
						<div class="col-lg-4 d-flex flex-column address-wrap">
							<div class="single-contact-address d-flex flex-row">
								<div class="icon">
									<span class="lnr lnr-home"></span>
								</div>
								<div class="contact-details">
									<h5 th:text="${artist.address}"></h5><p th:text="${artist.country}"></p>
								</div>
							</div>
							<div class="single-contact-address d-flex flex-row">
								<div class="icon">
									<span class="lnr lnr-phone-handset"></span>
								</div>
								<div class="contact-details">
									<h5 th:text="${artist.phone}"></h5>
								</div>
							</div>
							<div class="single-contact-address d-flex flex-row">
								<div class="icon">
									<span class="lnr lnr-envelope"></span>
								</div>
								<div class="contact-details">
									<h5 th:text="${artist.email}"></h5>
									<p>Send us your query anytime!</p>
								</div>
							</div>														
						</div>
						<div class="col-lg-8">
							<form th:action="@{/artist_update/(id=${artist.id})}" class="form-area" id="myForm" method="post">
								<div class="row">	
									<div class="col-lg-6 form-group">
										<label>Name</label>
										<input name="name" class="common-input mb-20 form-control" th:attr="value = ${artist.name}" required="" type="text">
										<label>Email</label>
										<input name="email" th:attr="value = ${artist.email}" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" class="common-input mb-20 form-control" required="" type="email">
										<label>NIF</label>
										<input name="NIF" class="common-input mb-20 form-control" th:attr="value = ${artist.NIF}" required="" type="text">
										<label>Country</label>
										<input name="country" class="common-input mb-20 form-control" th:attr="value = ${artist.country}" required="" type="text">
										<div class="mt-20 alert-msg" style="text-align: left;"></div>
									</div>
									<div class="col-lg-6 form-group">
									<label>Surname</label>
									<input name="surname" class="common-input mb-20 form-control" th:attr="value = ${artist.surname}" required="" type="text">
									<label>Year</label>
									<input name="year" class="common-input mb-20 form-control" th:attr="value = ${artist.year}" required="" type="text">
									<label>Address</label>
									<input name="address" th:attr="value = ${artist.address}" class="common-input mb-20 form-control" required="" type="text">	
									<label>Phone</label>
									<input name="phone" th:attr="value = ${artist.phone}" class="common-input mb-20 form-control" required="" type="text">
									<input type="submit" class="primary-btn mt-20 text-white" value="Edit artist" style="float: right">									
									</div>
								</div>
							</form>	
						</div>
					</div>
				</div>	
			</section>
			<!-- End contact-page Area -->

	<!-- start footer Area -->
	<footer class="footer-area pt-5 w-1 bg-dark">
		<div class="container pb-2">
			<div class="row">
				<div class="col-lg-5 col-md-6 col-sm-6">
					<div class="single-footer-widget text-white">
						<h6 class="text-success">Page made by</h6>
						<span>Jose Luis Sierra Benito</span><br>
						<span>Marcos Ruiz</span><br>
						<span>Daniel Ruiz</span><br>
						<span>Enrique Márquez Jiménez</span>
						<p class="footer-text">
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							Copyright &copy;
							All rights reserved</a>
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						</p>
					</div>
				</div>
				<div class="col-lg-5 col-md-6 col-sm-6 d-flex flex-row-reverse">
					<div id="logo my-auto">
						<br><br><br>
						<a href="/"><img src="img/logo.png" alt="" title="" /></a>
					</div>
				</div>
			</div>			
		</div>
		<div class="row mx-auto pb-2">
			<div class="mx-auto">
				<nav id="nav-menu-container">
					<ul class="nav-menu">
						<li class="menu-active"><a href="/">Home</a></li>
						<li><a href="/paintings">Paintings</a></li>
						<li><a href="/clients">Clients</a></li>
						<li><a href="/artists">Artists</a></li>
					</ul>
				</nav>	
			</div>
		</div>
	</footer>
	<!-- End footer Area -->
		</body>
	</html>



