<!DOCTYPE html>
<html lang="zxx" class="no-js" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Mobile Specific Meta -->
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Favicon-->
<link rel="shortcut icon" href="img/fav.png">
<!-- Author Meta -->
<meta name="author" content="codepixer">
<!-- Meta Description -->
<meta name="description" content="">
<!-- Meta Keyword -->
<meta name="keywords" content="">
<!-- meta character set -->
<meta charset="UTF-8">
<!-- Site Title -->
<title>Art Museum</title>

<link
	href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700"
	rel="stylesheet">
<!--
            CSS
            ============================================= -->
<link rel="stylesheet" th:href="@{/css/linearicons.css}">
<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
<link rel="stylesheet" th:href="@{/css/nice-select.css}">
<link rel="stylesheet" th:href="@{/css/animate.min.css}">
<link rel="stylesheet" th:href="@{/css/owl.carousel.css}">
<link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
	<!-- header -->
	<header id="header" id="home">
		<br>
		<div class="container">
			<div class="row align-items-center justify-content-between d-flex">
				<div id="logo">
					<a href="index.html"><img src="/img/logo.png" alt="" title="" /></a>
				</div>
				<nav id="nav-menu-container">
					<ul class="nav-menu">
						<li class="menu-active"><a href="index.html">Home</a></li>
						<li><a href="gallery.html">Gallery</a></li>
						<li><a href="about.html">About</a></li>
					</ul>

				</nav>
				<!-- #nav-menu-container -->
			</div>
		</div>

	</header>
	<!-- #header -->

	<!-- start banner Area -->
	<section class="banner-area relative" id="home">
		<div class="overlay overlay-bg"></div>
		<div class="container">
			<div class="row d-flex align-items-center justify-content-center">
				<div class="about-content col-lg-12">
					<h1 class="text-white">Art Museum</h1>
					<p class="text-white link-nav">
						<a href="index.html">Home </a>
					</p>
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->


	<!-- Start upcoming-exibition Area -->
	<section class="upcoming-exibition-area section-gap">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="menu-content pb-70 col-lg-8">
					<div class="title text-center">
						<h1 class="mb-10">Art posts</h1>
						<p>Sorted by all posts</p>
					</div>
				</div>
			</div>
			<div class="row">

				<div th:each="paint: ${paintings}" class="col-lg-4 col-md-6 single-exhibition">

					<div class="thumb">
						<img class="img-fluid" src="img/pages/ex1.jpg" alt="">
					</div>
					<p th:text="${painting.dateFormat}" class="date"></p>
					<a th:text="${painting.name}" href="#"><h4></h4></a>
					<p th:text="${painting.description}"></p>
					<div class="meta-bottom d-flex justify-content-start">
						<p th:text="${painting.price}" class="price"></p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End upcoming-exibition Area -->

	<!-- start footer Area -->
	<footer class="footer-area section-gap w-1 bg-dark">
		<div class="container ">
			<div class="row">
				<div class="col-lg-5 col-md-6 col-sm-6">
					<div class="single-footer-widget text-white">
						<h6 class="text-success">About Us</h6>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
							sed do eiusmod tempor incididunt ut labore dolore magna aliqua.</p>
						<p class="footer-text">
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							Copyright &copy;
							<script>
								document.write(new Date().getFullYear());
							</script>
							All rights reserved | This template is made with <i
								class="fa fa-heart-o" aria-hidden="true"></i> by <a
								href="https://colorlib.com" target="_blank">Colorlib</a>
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						</p>
					</div>
				</div>
				<div class="col-lg-5 col-md-6 col-sm-6 d-flex flex-row-reverse">
					<div id="logo">
						<br>
						<br>
						<br> <a href="index.html"><img src="img/logo.png" alt=""
							title="" /></a>
					</div>
				</div>
			</div>
		</div>

	</footer>
	<!-- End footer Area -->

</body>
</html>



