<!DOCTYPE html>
<html lang="zxx" class="no-js" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Mobile Specific Meta -->
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Favicon-->
<link rel="shortcut icon" href="img/fav.png">
<!-- Author Meta -->
<meta name="author" content="codepixer">
<!-- Meta Description -->
<meta name="description" content="">
<!-- Meta Keyword -->
<meta name="keywords" content="">
<!-- meta character set -->
<meta charset="UTF-8">
<!-- Site Title -->
<title>Art Museum</title>

<link
	href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700"
	rel="stylesheet">
<!--
            CSS
            ============================================= -->
<link rel="stylesheet" href="../static/css/linearicons.css"
	th:href="@{/css/linearicons.css}">
<link rel="stylesheet" href="../static/css/font-awesome.min.css"
	th:href="@{/css/font-awesome.min.css}">
<link rel="stylesheet" href="../static/css/bootstrap.css"
	th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" href="../static/css/magnific-popup.css"
	th:href="@{/css/magnific-popup.css}">
<link rel="stylesheet" href="../static/css/nice-select.css"
	th:href="@{/css/nice-select.css}">
<link rel="stylesheet" href="../static/css/animate.min.css"
	th:href="@{/css/animate.min.css}">
<link rel="stylesheet" href="../static/css/owl.carousel.css"
	th:href="@{/css/owl.carousel.css}">
<link rel="stylesheet" href="../static/css/main.css"
	th:href="@{/css/main.css}">
</head>
<body>
	<!-- header -->
	<header id="header">
		<br>
		<div class="container">
			<div class="row align-items-center justify-content-between d-flex">
				<div id="logo">
					<a href="/"><img src="/img/logo.png" alt="" title="" /></a>
				</div>
				<nav id="nav-menu-container">
					<ul class="nav-menu">
						<li class="menu-active"><a href="/">Home</a></li>
						<li><a href="/paintings">Paintings</a></li>
						<li><a href="/clients">Clients</a></li>
						<li><a href="/artists">Artists</a></li>
					</ul>
				</nav>
				<!-- #nav-menu-container -->
			</div>
		</div>

	</header>
	<!-- #header -->

	<!-- start banner Area -->
	<section class="banner-area relative" id="home">
		<div class="overlay overlay-bg"></div>
		<div class="container">
			<div class="row d-flex align-items-center justify-content-center">
				<div class="about-content col-lg-12">
					<h1 class="text-white">All About Art</h1>
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->


	<!-- Start upcoming-exibition Area -->
	<section class="upcoming-exibition-area section-gap">
		<div class="container mx-auto">
			<div class="menu-content pb-70 col-lg-15">
				<div class="title text-center">
					<h1 class="mb-10" id="art_posts">Art Paintings</h1>
				</div>
			</div>
			<p th:if="${default}" class="text-center">Sorted by all posts</p>
			<p th:if="${option1}" class="text-center">Sorted by higher cost</p>
			<p th:if="${option2}" class="text-center">Sorted by lower cost</p>
			<p th:if="${option3}" class="text-center">Sorted by higher year</p>
			<p th:if="${option4}" class="text-center">Sorted by lower year</p>
			<p th:if="${option5}" class="text-center">Sorted by A to Z title</p>
			<p th:if="${option6}" class="text-center">Sorted by Z to A title</p>

			<div class="sorting w-25 mx-auto">
				<form id="sort" action="/productSortBy#art_posts" method="post">
					<select onchange="this.form.submit()" name="value"
						class="custom-select">
						<option value="Default">Default Sort</option>
						<option value="PriceDesc" th:selected="${option1}">Cost
							Higher - Lower</option>
						<option value="PriceAsc" th:selected="${option2}">Cost
							Lower - Higher</option>
						<option value="YearDesc" th:selected="${option3}">Year
							Higher - Lower</option>
						<option value="YearAsc" th:selected="${option4}">Year
							Lower - Higher</option>
						<option value="TitleAsc" th:selected="${option5}">Title A
							- Z</option>
						<option value="TitleDesc" th:selected="${option6}">Title
							Z - A</option>
					</select>
				</form>
			</div>
			<br> <br>
			<div class="card">
				<div class="container">
					<form id="filter" action="/filterPainting#art_posts" method="post">
						<br>
						<div class="head">Fill the fields you see necessary</div>
						<br>
						<div class="row">
							<div class="col-sm">
								<div class="head mb-2 font-weight-bold">Max Size</div>
								<div class="filter-list w-75">
									Max Width<input class="form-control" type="number" min="0"
										id="max_width" name="max_width" th:attr="value = ${max_width}">
								</div>
								<div class="filter-list mt-2 w-75">
									Max Height<input class="form-control" type="number" min="0"
										id="max_height" name="max_height"
										th:attr="value = ${max_height}">
								</div>
							</div>
							<div class="col-sm">
								<div class="head mb-2 font-weight-bold">Min Size</div>
								<div class="filter-list w-75">
									Min Width<input class="form-control" type="number" min="0"
										id="min_width" name="min_width" th:attr="value = ${min_width}">
								</div>
								<div class="filter-list mt-2 w-75">
									Min Height<input class="form-control" type="number" min="0"
										id="min_height" name="min_height"
										th:attr="value = ${min_height}">
								</div>
							</div>
							<div class="col-sm">
								<div class="head mb-2 font-weight-bold">Year of creation</div>
								<div class="filter-list w-75">
									Min Year<input class="form-control" type="number" min="0" id="min_year" 
										name="min_year" th:attr="value = ${min_year}">
								</div>
								<div class="filter-list mt-2 w-75">
									Max Year<input class="form-control" type="number" min="0" id="max_year"
										name="max_year" th:attr="value = ${max_year}">
								</div>
							</div>
							<div class="col-sm">
								<div class="head mb-2 font-weight-bold">Cost</div>
								<div class="filter-list w-75">
									Min<input type="number" class="form-control" min="0"
										name="min_price" th:attr="value = ${min_price}" />
								</div>
								<div class="filter-list mt-2 w-75">
									Max<input type="number" class="form-control" min="0"
										name="max_price" th:attr="value = ${max_price}" />
								</div>
							</div>
						</div>
						<div class="row my-4">
							<div class="col-sm">
								<div class="filter-list w-75">
									<span class="mr-3 font-weight-bold">Filter by: </span>
									<div class="custom-control custom-radio custom-control-inline">
										<input type="radio" id="option1" name="sold"
											class="custom-control-input" value="1" th:checked="${checked1}">
										<label class="custom-control-label" for="option1">All</label>
									</div>
									<div class="custom-control custom-radio custom-control-inline">
										<input type="radio" id="option2" name="sold"
											class="custom-control-input" value="2" th:checked="${checked2}">
										<label class="custom-control-label" for="option2">Sold</label>
									</div>
									<div class="custom-control custom-radio custom-control-inline">
										<input type="radio" id="option3" name="sold"
											class="custom-control-input" value="3" th:checked="${checked3}">
										<label class="custom-control-label" for="option3">Not Sold</label>
									</div>
								</div>
							</div>
						</div>
						<div class="filter">
							<div class="filter-list">
								<button type="submit" class="add-painting primary-btn"
									form="filter">Search</button>
							</div>
						</div>
						<br>
					</form>
				</div>
			</div>
			<br> <br>
			<div class="row">
				<div th:each="painting : ${paintings}"
					class="col-lg-4 col-md-6 single-exhibition" th:id="'myForm' + ${painting.id}">
					<p th:text="${painting.title}" class="font-weight-bold mt-5"></p>
					<p class="text-justify" th:text="${painting.description}"></p>
					<span class="font-weight-bold">Size: </span>
					<span th:text="${painting.width}"></span>
					<span> x </span>
					<span th:text="${painting.height}"></span>
					<p th:text="${painting.price} + ' €'" class="price mt-3"></p>
					<span class="font-weight-bold">Painted by: </span>
					<a th:href="@{/artists} + '#myForm' + ${painting.autor.id}" th:text="${painting.autor.name}" class="text-danger"></a>
					<span> in </span>
					<span th:text="${painting.year}" class="text-primary"></span>
					<div th:if="${painting.sold}" class="mb-3 mt-2">
						<span type="button" class="font-weight-bold">Sold</span>
						<span> on </span>
						<span th:text="${painting.date}" class="date text-primary"></span>
						<span> to </span>
						<a th:href="@{/clients} + '#myForm' + ${painting.client.id}" th:text="${painting.client.name}" class="text-danger"></a>
					</div>
					<div th:unless="${painting.sold}" class="my-3 text-center">
						<form th:action="@{/paintings/sold/(id=${painting.id})} + '#myForm' + ${painting.id}" method="post" class="needs-validation">
							<small th:if="${not_found == true and id_painting == painting.id}" class="text-danger">Client not found!</small>
							<div class="form-group flex">
								<input type="submit" class="btn btn-info rounded-0" value="Not sold">
								<input name="nif" placeholder="Client NIF" class="common-input form-control rounded-0" 
									type="text" pattern="(([X-Z]{1})([-]?)(\d{7})([-]?)([A-Z]{1}))|((\d{8})([-]?)([A-Z]{1}))"
									title="It must contain 8 numbers and a final character" required>			
							</div>
						</form>
					</div>
					<a th:href="@{paintings/(id=${painting.id})}" type="submit"
						class="genric-btn primary circle arrow large">Edit<span class="lnr lnr-arrow-right"></span></a>

				</div>
			</div>
		</div>
	</section>
	<!-- End upcoming-exibition Area -->

	<!-- start footer Area -->
	<footer class="footer-area pt-5 w-1 bg-dark">
		<div class="container pb-2">
			<div class="row">
				<div class="col-lg-5 col-md-6 col-sm-6">
					<div class="single-footer-widget text-white">
						<h6 class="text-success">Page made by</h6>
						<span>Jose Luis Sierra Benito</span><br> <span>Marcos
							Ruiz</span><br> <span>Daniel Ruiz</span><br> <span>Enrique
							Márquez Jiménez</span>
						<p class="footer-text">
							Copyright &copy; All rights reserved</a>
						</p>
					</div>
				</div>
				<div class="col-lg-5 col-md-6 col-sm-6 d-flex flex-row-reverse">
					<div id="logo my-auto">
						<br> <br> <br> <a href="/"><img
							src="img/logo.png" alt="" title="" /></a>
					</div>
				</div>
			</div>
		</div>
		<div class="row mx-auto pb-2">
			<div class="mx-auto">
				<nav id="nav-menu-container">
					<ul class="nav-menu">
						<li class="menu-active"><a href="/">Home</a></li>
						<li><a href="/paintings">Paintings</a></li>
						<li><a href="/clients">Clients</a></li>
						<li><a href="/artists">Artists</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</footer>
	<!-- End footer Area -->

</body>
</html>



