<!DOCTYPE html>
<html lang="zxx" class="no-js" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Mobile Specific Meta -->
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Favicon-->
<link rel="shortcut icon" href="img/fav.png">
<!-- Author Meta -->
<meta name="author" content="codepixer">
<!-- Meta Description -->
<meta name="description" content="">
<!-- Meta Keyword -->
<meta name="keywords" content="">
<!-- meta character set -->
<meta charset="UTF-8">
<!-- Site Title -->
<title>Art Museum</title>

<link
	href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700"
	rel="stylesheet">
<!--
            CSS
            ============================================= -->
<link rel="stylesheet" href="../static/css/linearicons.css"
	th:href="@{/css/linearicons.css}">
<link rel="stylesheet" href="../static/css/font-awesome.min.css"
	th:href="@{/css/font-awesome.min.css}">
<link rel="stylesheet" href="../static/css/bootstrap.css"
	th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" href="../static/css/magnific-popup.css"
	th:href="@{/css/magnific-popup.css}">
<link rel="stylesheet" href="../static/css/nice-select.css"
	th:href="@{/css/nice-select.css}">
<link rel="stylesheet" href="../static/css/animate.min.css"
	th:href="@{/css/animate.min.css}">
<link rel="stylesheet" href="../static/css/owl.carousel.css"
	th:href="@{/css/owl.carousel.css}">
<link rel="stylesheet" href="../static/css/main.css"
	th:href="@{/css/main.css}">
</head>
<body>
	<!-- header -->
	<header id="header">
		<br>
		<div class="container">
			<div class="row align-items-center justify-content-between d-flex">
				<div id="logo">
					<a href="/"><img src="/img/logo.png" alt="" title="" /></a>
				</div>
				<nav id="nav-menu-container">
					<ul class="nav-menu">
						<li class="menu-active"><a href="/">Home</a></li>
						<li><a href="/paintings">Paintings</a></li>
						<li><a href="/clients">Clients</a></li>
						<li><a href="/artists">Artists</a></li>
					</ul>
				</nav>
				<!-- #nav-menu-container -->
			</div>
		</div>

	</header>
	<!-- #header -->

	<!-- start banner Area -->
	<section class="banner-area relative" id="home">
		<div class="overlay overlay-bg"></div>
		<div class="container">
			<div class="row d-flex align-items-center justify-content-center">
				<div class="about-content col-lg-12">
					<h1 class="text-white">All About Art</h1>
					<p class="text-white">
						<a href="/">Home</a>
					</p>
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->


	<!-- Start upcoming-exibition Area -->
	<section class="upcoming-exibition-area section-gap">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="sorting">
					<form id="sort" action="/productSortBy" method="post">
						<select onchange="this.form.submit()" name="value">
							<option value="Default">Orden predeterminado</option>
							<option value="PriceDesc">Precio mayor - menor</option>
							<option value="PriceAsc">Precio menor - mayor</option>
							<option value="YearDesc">Año mayor - menor</option>
							<option value="YearAsc">Año menor - mayor</option>
						</select>
						<!-- <option value="YearDesc">Año mayor - menor</option> -->
					</form>
				</div>
				<div class="menu-content pb-70 col-lg-8">
					<div class="title text-center">
						<h1 class="mb-10">Art posts</h1>
						<p>Sorted by all posts</p>
					</div>
				</div>
			</div>
			<form id="filter" action="/filterPainting" method="post">
				<div class="common-filter">
					<div class="head">Tama&ntilde;o</div>
					<ul>
						<li class="filter-list w-50">Máximo de ancho<input class="form-control"
							type="number" id="width" name="width" th:attr = "value = ${width}"></li>
						<li class="filter-list w-50">Máximo de alto<input class="form-control"
							type="number" id="height" name="height" th:attr = "value = ${height}"></li>
					</ul>
				</div>
				<div class="common-filter">
					<div class="head">Precio</div>
					<ul>
						<li class="filter-list w-50">Mínimo<input type="number"
							class="form-control" min="0" name="min_price" th:attr = "value = ${min_price}" /></li>
						<li class="filter-list w-50">Máximo<input type="number"
							class="form-control" min="0" name="max_price" th:attr = "value = ${max_price}" /></li>
					</ul>
				</div>
				<div class="common-filter">
					<div class="head">Búsqueda</div>
					<ul>
						<li class="filter-list"><button type="submit"
								class="add-painting" form="filter">Aplicar</button></li>
					</ul>
				</div>
			</form>
			<div class="row">
				<div th:each="painting : ${paintings}"
					class="col-lg-4 col-md-6 single-exhibition">
					<span th:text="${painting.title}"></span><br> <span
						th:text="${painting.date}" class="date"></span><br> <span
						class="justify-content" th:text="${painting.description}"></span>
					<div class="meta-bottom d-flex justify-content-start">
						<p th:text="${painting.price} + ' €'" class="price"></p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End upcoming-exibition Area -->

	<!-- start footer Area -->
	<footer class="footer-area pt-5 w-1 bg-dark">
		<div class="container pb-2">
			<div class="row">
				<div class="col-lg-5 col-md-6 col-sm-6">
					<div class="single-footer-widget text-white">
						<h6 class="text-success">Page made by</h6>
						<span>Jose Luis Sierra Benito</span><br> <span>Marcos
							Ruiz</span><br> <span>Daniel Ruiz</span><br> <span>Kike
							el andaluz</span>
						<p class="footer-text">
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							Copyright &copy; All rights reserved</a>
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						</p>
					</div>
				</div>
				<div class="col-lg-5 col-md-6 col-sm-6 d-flex flex-row-reverse">
					<div id="logo my-auto">
						<br> <br> <br> <a href="/"><img
							src="img/logo.png" alt="" title="" /></a>
					</div>
				</div>
			</div>
		</div>
		<div class="row mx-auto pb-2">
			<div class="mx-auto">
				<nav id="nav-menu-container">
					<ul class="nav-menu">
						<li class="menu-active"><a href="/">Home</a></li>
						<li><a href="/paintings">Paintings</a></li>
						<li><a href="/clients">Clients</a></li>
						<li><a href="/artists">Artists</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</footer>
	<!-- End footer Area -->

</body>
</html>



